@model List<ProductViewModel>
@{
    var prods = Model.GroupBy(prod => prod.Id).ToList();
}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if (Model.Count > 0)
                {
                    <ul class="list-group">
                        @foreach (var prod in prods)
                        {
                            <li class="list-group-item">
                                #@prod.Key - @prod.Count()
                            </li>
                        }
                    </ul>
                } else
                {
                    <h3>Empty</h3>
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>