@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<button id="btn-get-todos">Get todos</button>

@section Scripts {
    <script>
        const apiUrl = 'http://localhost:60043/api';
        const UI = {
            btnGetTodos$: $('#btn-get-todos')
        };

        $(document).ready(() => {
            UI.btnGetTodos$.click(() => {
                $.get([apiUrl, 'todos'].join('/'), (todos) => {
                    console.log(todos);
                });
            });
        });
    </script>
}
