<form method="post">
    <div>
        <label>
            First name
            <input type="text" name="firstName" placeholder="Enter first name..." />
        </label>
    </div>
    <div>
        <label>
            Last name
            <input type="text" name="lastName" placeholder="Enter last name..." />
        </label>
    </div>
    <div>
        <label>
            Birth
            <input type="date" name="birth" />
        </label>
    </div>
    <button>Save</button>
</form>