<!doctype html>
<html>
<head>
    <title>@ViewData["title"]</title>
    <meta charset="utf-8" />
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/home/about">About</a></li>
        <li><a href="/home/contacts">Contacts</a></li>
        <li><a href="/people">People</a></li>
    </ul>
    @RenderBody()
</body>
</html>